# ------ DS Dependencies ------
pandas
numpy
matplotlib
matplotlib.pyplot
seaborn
sklearn
tensorflow_decision_forests
# etc

# ------ Jupyter Tools ------
jupyterlab
notebook

# ------ Version Control Tools ------
nbstripout